<ion-view view-title="Grabado" class="fondo-grabado">
  <ion-content>
    <br>
    <div ng-repeat="usuario in archivo">
    	<center>
    		<p style="color:black"><strong>Usuario:</strong> {{usuario.nombre}}</p>
    		<p style="color:black"><strong>Sonidos:</strong></p>
    		<div ng-repeat="sonido in usuario.sonidos track by $index">
    				<label style="color:black">{{sonido}}</label>
    		</div>
        <br>-------------------------------<br>
    	</div>
      </center>

  </ion-content>
</ion-view>