
<ion-view view-title="Piano" class="fondo-piano">
  <ion-content scroll="false">
  	<h4>{{usuario.nombre}}</h4>
    <div style="width:100%; margin: auto;" >
      <div class="row" style="text-align: center;" ng-repeat="f in botones  | limitTo:filas" ng-init="f = $index">
        <div class="col" ng-repeat="x in botones | limitTo:columnas" >
          <button class="button piano btn_{{f}}_{{$index}}" id="btn_fila_{{f}}_col_{{$index}}" ng-click="Seleccionar($event)">
          </button>
        </div>
      </div>

      <div class="bar bar-footer bar-clear" style="height: auto;">
        <div class="row" style="text-align: center;" >
          <div class="col">
            <button id="grabar" class="button ion-record btn-class-left" ng-click="Grabar()"></button>
          </div>
          <div class="col">
            <button id="stop" class="button ion-stop btn-class-center" ng-click="Parar()"></button>
          </div>
          <div class="col">
            <button id="escuchar" class="button ion-play btn-class-right" ng-click="Escuchar()"></button>
          </div>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
